<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/fragmentos :: head}"></head>
<body>
<header th:replace="~{/admin/fragmentos :: header}"></header>
<div class="container">
    <form th:object="${usuario}" th:action="@{/usuarios/editar}" method="POST">
        <div class="form-group">
            <label class="form-label">ID</label>
            <input id="id" class="form-control" readonly="true" th:errorclass="is-invalid" type="text" th:field="*{id}">
            <div class="invalid-feedback" th:errors="*{id}"></div>
        </div>
        <div class="form-group">
            <label class="form-label">CPF</label>
            <input id="cpf" class="form-control" readonly="true" th:errorclass="is-invalid" type="text" th:field="*{cpf}">
            <div class="invalid-feedback" th:errors="*{cpf}"></div>
        </div>
        <div class="form-group">
            <label class="form-label" >E-mail</label>
            <input class="form-control" readonly="true" errorclass="is-invalid" type="text" th:field="*{email}">
            <div class="invalid-feedback" th:errors="*{email}"></div>
        </div>
        <div class="form-group">
            <label class="form-label">Situação</label>
            <select class="form-select" th:field="*{situacao}">
                <option th:each="situacao : ${situacoes}" th:value="${situacao}" th:text="${situacao}"></option>
            </select>
            <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
            <label class="form-label">Nome</label>
            <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{nome}">
            <div class="invalid-feedback" th:errors="*{nome}"></div>
        </div>
<!--        <div class="form-group">-->
<!--            <label class="form-label">Senha</label>-->
<!--            <input id="senha" class="form-control" th:errorclass="is-invalid" type="text" th:field="*{senha}">-->
<!--            <div class="invalid-feedback" th:errors="*{senha}"></div>-->
<!--        </div>-->
        <div class="form-group">
            <label class="form-label">Senha</label>
            <div class="input-group">
                <input type="password" class="form-control" th:errorclass="is-invalid" th:field="*{senha}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="show-password-toggle">
                        <span class="fa fa-eye-slash"></span>
                    </button>
                </div>
            </div>
            <div class="invalid-feedback" th:errors="*{senha}"></div>
        </div>
        <div class="form-group">
            <label class="form-label">Repita a Senha</label>
            <div class="input-group">
                <input type="password" class="form-control" th:errorclass="is-invalid" id="confirm_password" placeholder="Repita a Senha" minlength="4" th:field="*{senha}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="show-confirm-password-toggle" >
                        <span class="fa fa-eye-slash"></span>
                    </button>
                </div>
            </div>
            <div class="invalid-feedback" th:errors="*{senha}"></div>
        </div>
        <div class="form-group">
            <label class="form-label">Grupo</label>
            <select class="form-select" th:field="*{grupo}">
                <option th:each="grupo : ${grupos}" th:value="${grupo}" th:text="${grupo}"></option>
            </select>
            <div class="invalid-feedback"></div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
  const togglePassword = document.querySelector('#show-password-toggle');
  const toggleConfirmPassword = document.querySelector('#show-confirm-password-toggle');
  const confirmPasswordInput = document.querySelector('input[type="password"]');
  const passwordInput = document.querySelector('input[type="password"]');

  togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
    passwordInput.setAttribute('type', type);

    // toggle the eye slash icon
    this.querySelector('.fa').classList.toggle('fa-eye-slash');
    this.querySelector('.fa').classList.toggle('fa-eye');
  });

  var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Senhas diferentes!");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
<script>
    $(document).ready(function() {
        $('#cpf').inputmask("999.999.999-99");
    });
</script>
</body>
</html>