<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/visaoEstoquista :: head}"></head>
<body>
<header th:replace="~{/admin/visaoEstoquista :: header}"></header>
<div class="container">
  <div class="row">
  </div>
  <div class="row">
    <form action="#" th:action="@{/produtosEstoquista/buscar}" method="get">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Pesquisar produto por nome" name="nome">
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-secondary">Buscar</button>
        </div>
      </div>
    </form>
    <div class="col-12">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">COD</th>
          <th scope="col">Nome</th>
          <th scope="col">Qtde</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="produto : ${produtos}">
          <th class="col-1" scope="row" th:text="${produto.getCodigo()}">#</th>
          <td class="col-2" th:text="${produto.nome}">#</td>
          <td class="col-3" th:text="${produto.quantidade}">#</td>
          <td class="col-1">
          </td>
          <td class="col-1">
            <form action="#" th:action="@{/produtosEstoquista/__${produto.codigo}__/editProdutoEstoquista}" method="get">
              <button type="submit" class="btn btn">Alterar</button>
            </form>
          </td>
          </td>
          <td class="col-1">
            <form action="#" th:action="@{/produtosEstoquista/__${produto.codigo}__/produto-detail}" method="get">
              <button type="submit" class="btn btn">Visualizar</button>
            </form>
          </td>
          <td class="col-1">
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
  </div>
</div>
</body>
</html>