<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/fragmentos :: head}"></head>
<body>
<header th:replace="~{/admin/fragmentos :: header}"></header>
<div class="container">
    <div class="row">
    </div>
    <div class="row">
        <form action="#" th:action="@{/usuarios/buscar}" method="get">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Pesquisar usuário por nome" name="nome">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary">Buscar</button>
                </div>
            </div>
        </form>
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Situação</th>
                    <th scope="col">Grupo</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="usuario : ${usuarios}">
                    <th class="col-1" scope="row" th:text="${usuario.getId()}">#</th>
                    <td class="col-2" th:text="${usuario.nome}">#</td>
                    <td class="col-2" th:text="${usuario.cpf}">#</td>
                    <td class="col-2" th:text="${usuario.email}">#</td>
                    <td class="col-2" th:text="${usuario.situacao.toString()}">#</td>
                    <td class="col-4" th:text="${usuario.grupo.toString()}">#</td>
                    <td class="col-1">
                        <form th:if="${usuario.situacao.toString() == 'ATIVO'}"
                              action="#" th:action="@{/usuarios/__${usuario.id}__/inativar}" method="get"
                              onsubmit="return confirm('Tem certeza que deseja inativar o usuário?')">
                            <button type="submit" class="btn btn-link">Inativar</button>
                        </form>
                        <form th:if="${usuario.situacao.toString() == 'INATIVO'}"
                              action="#" th:action="@{/usuarios/__${usuario.id}__/ativar}" method="get"
                              onsubmit="return confirm('Tem certeza que deseja ativar o usuário?')">
                            <button type="submit" class="btn btn-link">Ativar</button>
                        </form>
                    </td>
                    <td class="col-1">
                        <form action="#" th:action="@{/usuarios/__${usuario.id}__/editar}" method="get">
                            <button type="submit" class="btn btn-link">Editar</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <form action="#" th:action="@{usuarios/new}" method="get">
            <button type="submit" class="btn btn-link">Novo usuário</button>
        </form>
    </div>
</div>
</body>
</html>