<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/fragmentos :: head}"></head>
<body>
<header th:replace="~{/admin/fragmentos :: header}"></header>
<div class="container">
  <div class="row">
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">COD</th>
          <th scope="col">Nome</th>
          <th scope="col">Tipo</th>
          <th scope="col">Descrição</th>
          <th scope="col">Qtde</th>
          <th scope="col">Preço R$</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="produto : ${produtos}">
          <th class="col-1" scope="row" th:text="${produto.getCod()}">#</th>
          <td class="col-2" th:text="${produto.nome}">#</td>
          <td class="col-2" th:text="${produto.tipo.toString()}">#</td>
          <td class="col-2" th:text="${produto.descri}">#</td>
          <td class="col-4" th:text="${produto.qtde}">#</td>
          <td class="col-4" th:text="${produto.preco}">#</td>
          <td class="col-1">
            <form action="#" th:action="@{/produtos/__${produto.cod}__/edit}" method="get">
              <button type="submit" class="btn btn-link">Editar</button>
            </form>
          </td>
          <td class="col-1">
        </tr>
        </tbody>
        <!--    Nome, email, status, Grupo-->
      </table>
    </div>
  </div>
  <div class="row">
    <!--    <a href="/produtos/novo-produto">Novo produto</a>-->
    <form action="#" th:action="@{/produtos/novo-produto}" method="get">
      <button type="submit" class="btn btn-link">Adicionar produto</button>
    </form>
  </div>
</div>
</body>
</html>