<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/fragmentos :: head}"></head>
<body>
<header th:replace="~{/admin/fragmentos :: header}"></header>
<div class="container">
    <form th:object="${requisicaoNovoProdutoDTO}" action="/produtos" method="POST">
        <div class="form-group">
            <label class="form-label">Nome</label>
            <input class="form-control" th:errorclass="is-invalid" type="text" min="0" max="200" th:field="*{nome}">
            <div class="invalid-feedback" th:errors="*{nome}"></div>
        </div>
        <div class="form-group">
            <label class="form-label">Tipo</label>
            <select class="form-select" th:field="*{tipo}">
                <option th:each="tipo : ${categorias}" th:value="${tipo}" th:text="${tipo}"></option>
            </select>
            <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
            <label class="form-label">Descricao</label>
            <input class="form-control" th:errorclass="is-invalid" type="text" min="0" max="2000" th:field="*{descri}">
            <div class="invalid-feedback" th:errors="*{descri}"></div>
        </div>
        <div class="form-group">
            <label class="form-label">Quantidade</label>
            <input class="form-control" th:errorclass="is-invalid" type="number" name="quantidade" min="0" max="100" th:field="*{qtde}">
            <div class="invalid-feedback" th:errors="*{qtde}"></div>
        </div>
        <div class="form-group">
            <label class="form-label">Preco</label>
            <input class="form-control" th:errorclass="is-invalid" type="number" name="preco" min="0" max="1000" th:field="*{preco}">
            <div class="invalid-feedback" th:errors="*{preco}"></div>
        </div>
        <!--        <div class="form-group">-->
        <!--            <label class="form-label">Situação</label>-->
        <!--            <select class="form-select" th:field="*{situacao}">-->
        <!--                <option th:each="situacao : ${situacoes}" th:value="${situacao}" th:text="${situacao}"></option>-->
        <!--            </select>-->
        <!--            <div class="invalid-feedback"></div>-->
        <!--        </div>-->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>

<!--| Field    | Type         | Null | Key | Default | Extra          |-->
<!--+&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;+-&#45;&#45;&#45;&#45;+-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+-->
<!--| id       | bigint       | NO   | PRI | NULL    | auto_increment |-->
<!--| cargo    | varchar(255) | NO   |     | NULL    |                |-->
<!--| cpf      | varchar(255) | NO   | UNI | NULL    |                |-->
<!--| email    | varchar(255) | NO   | UNI | NULL    |                |-->
<!--| nome     | varchar(255) | NO   |     | NULL    |                |-->
<!--| senha    | varchar(255) | NO   |     | NULL    |                |-->
<!--| situacao | varchar(255) | NO   |     | NULL    |                |-->
<!--| grupo    | varchar(255) | NO   |     | NULL    |                |-->
<!--+&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;+-&#45;&#45;&#45;&#45;+-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+-->