<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/fragmentos :: head}"></head>
<body>
<header th:replace="~{/admin/fragmentos :: header}"></header>
<div class="container">
    <form th:object="${requisicaoNovoProdutoDTO}" action="/produtos" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label class="form-label">Nome</label>
            <input class="form-control" th:errorclass="is-invalid" type="text" min="0" max="200" th:field="*{nome}">
            <div class="invalid-feedback" th:errors="*{nome}"></div>
        </div>
        <div class="form-group">
            <label class="form-label">Tipo</label>
            <select class="form-select" th:field="*{tipo}">
                <option th:each="tipo : ${categorias}" th:value="${tipo}" th:text="${tipo}"></option>
            </select>
            <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
            <label class="form-label">Avaliação</label>
            <div class="rating-slider">
                <input type="range" min="0" max="10" value="0" class="slider" id="myRange" th:field="*{avaliacao}">
                <span class="rating-value" id="demo"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Descricao</label>
            <textarea class="form-control" th:errorclass="is-invalid" rows="5" type="text" min="0" max="2000" th:field="*{descricao}"></textarea>
            <div class="invalid-feedback" th:errors="*{descricao}"></div>
        </div>
        <div class="form-group">
            <label class="form-label">Quantidade</label>
            <input class="form-control" th:errorclass="is-invalid" type="number" name="quantidade" min="0" max="100" th:field="*{quantidade}">
            <div class="invalid-feedback" th:errors="*{quantidade}"></div>
        </div>
        <div class="form-group">
            <label class="form-label">Preco</label>
            <input class="form-control" th:errorclass="is-invalid" type="number" name="preco" onchange="setTwoNumberDecimal" min="0" max="1000" step="0.1" value="0.00" th:field="*{preco}">
            <div class="invalid-feedback" th:errors="*{preco}"></div>
        </div>
        <div class="form-group">
            <label for="imagens">Imagens</label>
            <input type="file" class="form-control-file" id="imagens" name="imagens" multiple>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value / 2;

        slider.oninput = function() {
            output.innerHTML = this.value / 2;
        }
    </script>
<script>
    function previewImage(event) {
        var preview = document.getElementById("preview");
        preview.src = URL.createObjectURL(event.target.files[0]);
    }
</script>
</body>
</html>
